<header> 
  <h1>Show Finder</h1>
</header>

<ul hidden id="showList"></ul>

<div hidden id="show"> </div>

<div id="error" class="error">You must enter valid a input</div>

<form id="searchForm">
      <label for="search_term"> Show Search Term </label>
        <input id="search_term" type="text" name="showSearchTerm" placeholder="Show Search Term" value="{{show.name}}"/>
      <button type="submit">Submit</button>
    </form>


<a hidden id="homeLink" href="/">Back to All Shows</a>

<footer>
  <p>Sanjana Madhu 10447590</p>
  <p>CS 546 Lab 11</p>
</footer>
